<mat-card>

  <a mat-button class="crm-command-bar-button" [routerLink]="['./new']" >
    <mat-icon>add</mat-icon>
    NEW
  </a>

  <button mat-button class="crm-command-bar-button" [disabled]="true">
    <mat-icon>visibility</mat-icon>
    ACTIVATE
  </button>

  <button mat-button class="crm-command-bar-button" [disabled]="true">
    <mat-icon>visibility_off</mat-icon>
    DEACTIVATE
  </button>

  <button mat-button class="crm-command-bar-button" [disabled]="true">
    <mat-icon>link</mat-icon>
    EMAIL A LINK
  </button>

  <button mat-button class="crm-command-bar-button" [disabled]="true">
    <mat-icon>description</mat-icon>
    RUN REPORT
  </button>

</mat-card>


