
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import "../node_modules/angular-calendar/css/angular-calendar.css";


// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Color variables.
$red-main: #E7001F;
$red-accent: #C80005;


$main-palette: (
  50 : #fce0e4,
  100 : #f8b3bc,
  200 : #f3808f,
  300 : #ee4d62,
  400 : #eb2641,
  500 : #e7001f,
  600 : #e4001b,
  700 : #e00017,
  800 : #dd0012,
  900 : #d7000a,
  A100 : #fffefe,
  A200 : #ffcbcc,
  A400 : #ff989a,
  A700 : #ff7f80,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$accent-palette: (
  50 : #f8e0e1,
  100 : #efb3b4,
  200 : #e48082,
  300 : #d94d50,
  400 : #d0262b,
  500 : #c80005,
  600 : #c20004,
  700 : #bb0004,
  800 : #b40003,
  900 : #a70001,
  A100 : #ffd1d1,
  A200 : #ff9e9e,
  A400 : #ff6b6b,
  A700 : #ff5252,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$architecture-primary: mat-palette($main-palette);
$architecture-accent: mat-palette($accent-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$architecture-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$architecture-theme: mat-light-theme($architecture-primary, $architecture-accent, $architecture-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($architecture-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
